[submodule "project1/lib/forge-std"]
	path = project1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project1/lib/openzeppelin-contracts"]
	path = project1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "project2/lib/forge-std"]
	path = project2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project2/lib/openzeppelin-contracts"]
	path = project2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
